* {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper_section1, .wrapper_section2, .wrapper_section3, .wrapper_section4, .wrapper_section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    min-width: 100vw;
    background-size: cover;
    background-position: center;
}
.wrapper_section1-bg {
    background-image: url("/shelter/assets/start-screen-gradient-background.jpg");
}
.section_1, .section2, .section3, .section4, .section5 {
    width: 1280px;
    justify-self: center;   
}
.section_1__header {
    display: flex; 
    margin-top: 30px;
    justify-content: center;
}
.section_1__header_nav {
    display: flex;
    width: 1200px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.section_1__header_nav_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 184px;
    height: 60px;
}
h1{
    width: 184px;
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;
    white-space: nowrap;
}
.header__nav_div_span {
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
}
.section_1__header_nav_ul {
    display: flex;
    width: 443px;
    height: 27px;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #CDCDCD;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.section_1__header_nav_ul_li:hover {
    cursor: pointer;
    color: #F1CDB3;
}
.section_1__header_nav_ul_li:first-child {
    color: #F1CDB3;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}
.section_1__article {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
}
.section_1__article_div {
    display: flex;
    width: 460px;
    height: 322px;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 163px;
}
.section_1__article_img {
    margin-left: 0px;
}
.section_1__article_div_h2 {
    width: 310px;
    height: 114px;
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
    color: #FFFFFF;
}
.section_1__article_div_p {
    width: 460px;
    height: 72px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #CDCDCD;
}
.section_1__article_div_button {
    width: 207px;
    height: 52px;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    font-family: Georgia;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    padding: 13px 45px 15px 43px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    text-wrap: nowrap;
}
.wrapper_section2-bg{
    background: #FFFFFF;
}
.wrapper_section2__article {
    display: flex;
    width: 1200px;
    height: 408px;  
    justify-content: flex-start;  
}
.section2__article_div-foto {
    display: flex;
    width: 600px;
    justify-content:center;
    align-content: start;
    margin-left: 25px;
    margin-top: -10px;
}
.section2__article_div-info {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 380px;
    justify-content: space-between;
    color: #4C4C4C;
    margin-left: -30px;
    margin-top: 3px;
}
.section2__article_div-info_h2 {
    width: 370px;
    height: 90px;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
}
.section2__article_div-info_p {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.wrapper_section3-bg {
    background: #F6F6F6;
}
.section3_wrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 697px;
    align-items: center;
    justify-content: space-between;
}
.section3__article_slider-wrapper {
    display: flex;
    width: 1200px;
    height: 435px;
    justify-content:center; 
    align-items: center; 
    margin-top: -8px;
}
.section3__article_slider-button-right, .section3__article_slider-button-left {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 2px solid #F1CDB3;
}
.section3__article_slider-wrapper_slider-container {
    display: flex;
    flex-direction: row;
    width: 1196px;
    height: 435px;
    justify-content:space-evenly;
    gap: 32px
}
.section3__h2 {
    display: flex;
    width: 400px;
    height: 90px;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    justify-content: center;
    text-align: center;
    color: #545454;
    margin-top: -8px;
}
.section3__article_slider-wrapper_slider-item {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 435px;
    align-items: center;
    justify-content:flex-start;
    border-radius: 9px;
    background: #FAFAFA;
    cursor: pointer;
}
.section3__article_slider-wrapper_slider-item-figure {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}
.section3__article_slider-wrapper_slider-item-figure-img {
    margin-top: 0;
}
.section3__article_slider-wrapper_slider-figcapion {
    display: flex;
    justify-content: center;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin-top: 30px;
}
.section3__article_slider-wrapper_slider-button-item {
    width: 187px;
    height: 52px;
    padding: 15px 45px 15px 45px;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: left;
    border-radius: 100px;
    border: 2px 2px 2px 2px;
    color:#292929;
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
    text-wrap: nowrap;
    margin-top: 52px;
}
.section3_wrapper__button {
    width: 261px;
    height: 52px;
    border-radius: 100px;
    Padding:15px, 45px, 15px, 45px;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    background: #F1CDB3;
    color:#292929;
    border: none;
    margin-bottom: 10px;
}
.wrapper_section4-bg {
    background: #FFFFFF;
}
.section4_wrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 431px;
    align-items: center;
    justify-content: space-between;
}
.section4__h2 {
    width: 310px;
    height: 90px;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: -10px;
}
.section4__div-conteiner {
    display: flex;
    flex-direction: column;
    width: 1026px;
    height: 281px;
    justify-content: space-between;
    align-items: center;
    gap: 51px;
    margin-bottom: 10px;
}
.section4__div-conteiner__top-row {
    display: flex;
    width: 1026px;
    justify-content: space-between;
}
.section4__div-conteiner__bottom-row{
    display: flex;
    width: 990px;
    justify-content:space-around;
    justify-self: flex-end;
}
.section4__div-conteiner__top-row_figure {
    display: flex;
    height: 112px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section4__div-conteiner__top-row_figure_img {
    width: 60px;
    height: 60px;
}
.section4__div-conteiner__top-row_figure_figcaption {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #545454;
}
.wrapper_section5-bg {
    background-color: #F6F6F6;
}
.section5__conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.section5__conteiner_figure {
    display: flex;
    width: 505px;
    height: 282px;
}
.section5__conteiner__article{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 282px;
margin-top: -18px;
justify-content: space-between;
}
.section5__conteiner__article_h3 {
    width: 300px;
    height: 90px;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
}
.section5__conteiner__article_h5 {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
}
.section5__conteiner__article__container-card {
    display: flex;
    width: 349px;
    height: 43px;
    align-items: center;
    justify-content: space-evenly;
    background: #F1CDB3;
}
.section5__conteiner__article__container-card_span {
    width: 274px;
    height: 23px;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
    text-wrap: nowrap;
}
.section5__conteiner__article_p {
    width: 380px;
    height: 72px;
    color: #B2B2B2;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}